.black{
    background-color: black !important;
}
*{
    color:#ffffff;
}
.bright{
    color: #fcd265 !important;
}
.blue{
    background-color: #14213d !important;
}
.border-light{
    border-radius: 4px;
    border: 1px solid #fca311;
}
.border-subtle{
    border-bottom: 0.1px solid gray;
}
